*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
config/OZW_Log.txt
config/home-assistant.log
config/home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
config/secrets.yaml
secrets
config/tradfri.conf
config/.tradfri_psk.conf
config/known_devices.yaml
phue.conf
ios.conf
pyozw.sqlite
nest.conf
.uuid
ipchange.yaml

# esphome
esphome/**/

# meta
.HA_VERSION
.uuid
# zwave
pyozw.sqlite
zwave_device_config.yaml
zwcfg_*xml

# zamg
.zamg-stations.json.gz

# www folder for images
config/www
other
